<div class="container">
  <header class = "jumbotron">
    <h1>Super Rentals</h1>
  </header>
    {{#link-to 'index'}}HOME{{/link-to}}
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Contact Us{{/link-to}}
  </footer>
</div>
